body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /*body içinde tüm divleri ortaya alır.*/
}
/*menuBar beginning*/
.menu_bar {
  height: 80px;
  width: 100%;
  background-color: #073f68;
  margin-top: 20px;
  display: flex; /*divleri flex olarak gösterilmesi, hizalanması için justify-content */
  justify-content: space-around; /*hizalanması sağlandı*/
}
.logo {
  margin-top: -20px;
}

.logo img {
  height: 100px;
}
.menu ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
.menu a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 10px;
  transition: 0.5s;
}
.menu li:hover a {
  color: #073f68;
  background-color: white;
}
/*menuBar finish*/

/*gallery beginning*/
.gallery {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/gallery_image.jpg"); /*görsel üzerine geçiş efekti vermek*/

  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallery .web {
  color: white;
  font-family: calibri;
  font-size: 30px;
}
.gallery a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}

.gallery a:hover {
  color: #073f68;
  background-color: white;
  padding: 10px; /*üzerine geldiğinde geçiş*/
}
.web h4 {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
/*gallery finish*/

/*middle_field beginning*/
.middle_field {
  display: flex;
  width: 95%;
  justify-content: space-around;
}
.middle {
  width: 22%;
  border: 2px solid gray;
  border-radius: 15px;
  margin: 2% 0;
  box-sizing: border-box; /*width: 22%;+border: 2px=24 değilde border: 2px i içer doğru vermemizi sağlıyor*/
  background: linear-gradient(rgba(52, 64, 98, 0.8), rgba(52, 64, 98, 0.5));
}
.middle img {
  width: 70%;
}
.middle .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
/*middle_field finish*/
